name: Test Workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y g++ cmake libboost-all-dev

      - name: Clean build directory
        run: make clean

      - name: Build project
        run: make

      - name: Run tests
        run: make run
